*
!.gitignore
!.gitattributes
!.dockerignore
!/Dockerfile
!/config.yaml.example
!/agent.js
!/agent-arm64.js
!/go.mod
!/go.sum
!/*.go
!/main.go
!/README.md
!/README-CN.md
!/Makefile
!/.github/
!/.github/**
!/utils/
!/utils/**
!/cmd/
!/cmd/**

.DS_Store
**/.DS_Store
